@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:wght@300;400;500;600&family=Outfit:wght@300;400;500;600&display=swap');

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  
  font-family: "Inter", sans-serif;
  
  --font-heading: "Audiowide", sans-serif;
  --font-subheading: "Outfit", sans-serif;
  
  /* Variables for glassmorphism */
  --glass-bg: rgba(255, 255, 255, 0.4);
  --glass-border: rgba(0, 0, 0, 0.1);
}

.dark {
  --background: #0f0f0f;
  --foreground: #fafafa;
  
  /* Variables for dark glassmorphism */
  --glass-bg: rgba(255, 255, 255, 0.05);
  --glass-border: rgba(255, 255, 255, 0.08);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.glass {
  background-color: var(--glass-bg);
  border-width: 1px;
  border-color: var(--glass-border);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.font-heading {
  font-family: var(--font-heading);
}

.font-subheading {
  font-family: var(--font-subheading);
}
